.slider {
    overflow: hidden;
}

.slider__nav {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 1200px) {
        display: none;
    }
}

.slider__button {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 14px;
    line-height: 130%;
}

.slider__button--inactive {
    opacity: 0;
    cursor: default;
}

.slider__arrow {
    width: 20px;
    height: 20px;
    background-position-y: 4px;
}

.slider__arrow--left {
    background-image: url('../../img/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.slider__arrow--right {
    background-image: url('../../img/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    margin-left: 5px;
}

.slider__line12, .slider__line23, .slider__line34, .slider__line45, .slider__line56 {
    @media (min-width: 1200px) {
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 210px;
        height: 210px;
        z-index: -1;
    }
}

.slider__line12 {
    @media (min-width: 1200px) {
        background-image: url('../../img/line12.svg');
        top: 47.4vh;
        left: 10vw;
    }

    @media (min-width: 1366px) {
        height: 230px;
    }

    @media (min-width: 1920px) {
        top: 46vh;
        height: 350px;
        width: 330px;
    }
}

.slider__line23 {
    @media (min-width: 1200px) {
        background-image: url('../../img/line23.svg');
        top: 78vh;
        left: 28.3vw;
        height: 154px;
    }

    @media (min-width: 1366px) {
        height: 164px;
    }

    @media (min-width: 1920px) {
        background-position: 30% 50%;
        background-size: cover;
        height: 215px;
        width: 330px;
        left: 25vw;
    }
}

.slider__line34 {
    @media (min-width: 1200px) {
        background-image: url('../../img/line34.svg');
        top: 61vh;
        left: 43vw;
        height: 233px;
    }

    @media (min-width: 1920px) {
        height: 390px;
        width: 350px;
        left: 36vw;
        transform: rotate(-20deg);
    }
}

.slider__line45 {
    @media (min-width: 1200px) {
        background-image: url('../../img/line45.svg');
        top: 44vh;
        left: 51.8vw;
        width: 300px;
    }

    @media (min-width: 1920px) {
        top: 42.3vh;
        left: 45.4vw;
        height: 350px;
        width: 560px;
    }
}

.slider__line56 {
    @media (min-width: 1200px) {
        background-image: url('../../img/line56.svg');
        top: 48vh;
        left: 75.4vw;
        width: 270px;
    }

    @media (min-width: 1920px) {
        left: 66vw;
        height: 350px;
        width: 430px;
    }
}