.list-of-cards {
    display: flex;
    gap: 20px;

    @media (min-width: 1200px) {
        height: calc(100vh - 235px);
    }
}

.list-of-cards__item {
    margin: 30px 15px 20px 15px;
    width: calc(100vw - 36px);
    height: 217px;
    background-color: rgba(255,255,255,0.35);
    border: solid white 3px;
    border-radius: 35px 0 35px 0;
    flex-shrink: 0;
    box-shadow: 0 4px 15px rgba(255,255,255,0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    @media (min-width: 1200px) {
        width: 286px;
        height: 79px;
        position: absolute;
        flex-direction: row;
        gap: 0;
        backdrop-filter: blur(15px);
    }
}

.list-of-cards__item::before {
    content: '';
    width: 40px;
    height: 60px;
    background-image: url('../../img/drop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: -40px;
    right: calc(10px - 50vw);
    top: -12%;
    z-index: 100;

    @media (min-width: 1200px) {
        top: -40%;
        right: calc(-3px - 100%);
    }
}

.list-of-cards__card-number {
    font-size: 45px;
    width: 74px;
    height: 74px;
    background-color: #5e7600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: solid 1px white;

    @media (min-width: 1200px) {
        width: 51px;
        height: 51px;
        margin-left: 30px;
        font-size: 35px;
    }
}

.list-of-cards__number {
    text-shadow: 0 10px 6px rgba(255,255,255,0.15);
    position: relative;
    bottom: -3px;
}

.list-of-cards__card-text {
    font-size: 14px;
    font-weight: 200;
    width: calc(100% - 36px);
    max-width: 250px;
    line-height: 130%;

    @media (min-width: 1200px) {
        width: 195px;
    }
}

@media (min-width: 1200px) {
    .list-of-cards__item--1 {
        top: calc(41vh - 300px);
        left: 7vw;
    }

    .list-of-cards__item--2 {
        top: calc(74vh - 300px);
        left: 12vw;
    }

    .list-of-cards__item--3 {
        top: calc(89vh - 300px);
        left: 39vw;
    }

    .list-of-cards__item--4 {
        top: calc(57vh - 300px);
        left: 33vw;
    }

    .list-of-cards__item--5 {
        top: calc(47vh - 300px);
        left: 71vw;
    }

    .list-of-cards__item--6 {
        top: calc(67vh - 300px);
        left: 60vw;
    }
}